.main {
    font-family: "Gamja+Flower";
}

.wedding {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/wedding_thumbnail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}


.small-2 {
    font-size: 0.75rem
}

.small-3 {
    font-size: 0.5rem
}